
.navigation-bar {
    z-index: 1;
}
.nav-list li{
    margin-left: 25px;
}
nav img{
    width: 30px;
}
nav ul a:hover{
    color: #f0ad4e !important;
}

.main {
    background-image: url(../img/bg-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.about-me-info {
    background-image: url(../img/profile-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-me-info img {
    width: 80%;
}

.profile-holder {
    display: flex;
    justify-content: center;
}

.card-container{
    width: 100%;
    height: auto;
}

.card {
    transition: 0.98s;
}

.card:hover{
    background-color: #E4A11B;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    z-index: 3;
    
}

.portfolio-page {
    background-image: url(../img/bg-image2\ copy.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* .personal-info a img {
    transition: 1s;
}

.personal-info a img:hover {
    transform: scale(1.3);
    z-index: 3;
} */

/* .skills-page {
    height: 80vh;
} */




