
.navigation-bar {
    z-index: 4;
}

nav img{
    width: 30px;
}
nav ul a:hover{
    color: #f0ad4e !important;
}

.main {
    background-image: url(../img/bg-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.main h1 {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #f0ad4e, #fff, #f0ad4e);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 5s linear infinite;
    -webkit-background-clip: text;
        background-clip: inset 0 0 6px(0,0,0,0.1);
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

 
.about-me-info {
    background-image: url(../img/profile-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-me-info img {
    width: 80%;
}

.profile-holder {
    display: flex;
    justify-content: center;
}

.card-container{
    width: 100%;
    height: auto;
}

.card {
    transition: 0.98s;
}

.card:hover{
    background-color: #E4A11B;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    z-index: 3;
    
}

.portfolio-page {
    background-image: url(../img/bg-image2\ copy.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* .personal-info a img {
    transition: 1s;
}

.personal-info a img:hover {
    transform: scale(1.3);
    z-index: 3;
} */

/* .skills-page {
    height: 80vh;
} */




